
.profile_from {
    font-family: "Inter";
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
  }
.profile_from h2.card-title {
    font-family: "Inter";
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 0 0 10px 0;
  }
  .profile_from p.card-text {
    font-family: "Inter";
    color: #495057;
    font-size: 16px;
    padding: 0 0 20px 0;
    margin: 0;
  }
  .submit_btn {
    border-radius: 5px;
    background: #205387;
    border: 1px solid #205387;
    color: #fff;
    width: 100%;
    display: block;
    margin-top: 40px;
    min-height: 51px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.8s ease-in-out;
  }
  .submit_btn:hover {
    background: #205387;
  }
  .submit_btn:focus {
    background: #427cb6;
    border: 1px solid #427cb6;
  }

  .flex_direction {
    display: flex;
    flex-direction: column;
  }

  .white_bg {
    background: #fff !important;
    
  }
