body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form_footer_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem !important;
  line-height: 17px;
}
